patches/
.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/
bin/
*~
config/database.yml
config/environment.rb.bak2
config/database.yml.bakmysql
faxes/*.pdf
faxes/previews/*.png
faxes/thumbnails/*.png
system.gems
.rvmrc
.env
*.rb.orig
*.html.erb.orig
contracts/*.pdf
contracts/*.rtf
*.rdb

.elasticbeanstalk/config

.elasticbeanstalk/optionsettings.selecthw-dev
