<h1>Testimonials</h1>

<div class="testimonial">
	<p>&ldquo;Good afternoon, I just wanted to say how happy I am with your service. I dropped another home warranty plan to pick up your plan. Wow! What a difference. It's great to have a home warranty company that really cares about their customers. You took the time to find the contractor and assured me that I would receive a follow-up phone call.</p>
	<p>Thanks again to your representative named Stephanie. You provided great customer service. I really appreciate your prompt attention.&rdquo;</p>
	<p>Patricia N.</p>
</div>
