      <table cellpadding="0" cellspacing="2" class="compare-tbl">
        <tr>
          <th class="title">Item</th>
          <th>Avg. Repair Cost</th>
        </tr>
        <tr class="stripe">
          <td>Pool or Spa</td>
          <td>$135 - $560</td>
        </tr>
        <tr>
          <td>Washer/Dryer</td>
          <td>$100 - $450</td>
        </tr>
        <tr class="stripe">
          <td>Heating System</td>
          <td>$70 - $800</td>
        </tr>
        <tr>
          <td>Air Conditioning</td>
          <td>$75 - $1300</td>
        </tr>
        <tr class="stripe">
          <td>Oven or Range</td>
          <td>$100 - $500</td>
        </tr>
        <tr>
          <td>Plumbing System</td>
          <td>$100 - $800</td>
        </tr>
        <tr class="stripe">
          <td>Refrigerator</td>
          <td>$100 - $500</td>
        </tr>
        <tr>
          <td>Electrical System</td>
          <td>$90 - $700</td>
        </tr>
      </table>
