<h1>About Us</h1>
<p>
	A home is the single largest investment that most people will ever make, and the last thing that any new
	home owner wants to deal with are costly repairs or replacement systems and appliances. Select Home
	Warranty can help you purchase a home warranty protection plan that is right for you and your family.
	Whether you are a first time home buyer, seller or existing homeowner, a home warranty is a very
	affordable way to preserve peace of mind and to protect your most valuable asset! It is the type of
	investment that pays for itself!
</p>
<p>
	Select Home Warranty helps manage and protect your home expenses that go beyond the protection of general
	homeowner&rsquo;s insurance policies. <a href="/versus">See our comparison page for more info on the differences
	between a Home Warranty Coverage vs. Home Insurance Coverage</a>.
</p>
<p>
	As one of the pioneers in the Home Warranty Industry, Select Home Warranty has
	experience handling the home warranty issues of our many policy holders. Our Toll-Free Service Call
	Center employs dependable, honest and courteous representatives that are available 24 hours a day, 7 days
	a week, should a covered appliance or major component suddenly stop working. Also, finding a pre-screened
	and insured contractor to solve your problem can be stressful and inconvenient. Select Home Warranty is
	proud to have over 10,000 licensed, certified and pre-approved service contractors to service our
	home-owners and policy holders in your local area. Gone are the days when we would have to flip through
	the classifieds to search for a dependable repair technician. With Select Home Warranty, we take care of
	those large expenses and make sure it&rsquo;s a hassle-free process.
</p>
<p>
	Select Home Warranty has many affordable coverage plans to fit the needs of a seller, first time home
	buyer, and existing home owners. A home warranty gives home buyers and sellers the additional confidence
	they need when closing on a home in today's real estate market. We understand that there are many large
	expenses when buying or selling a home and unexpected breakdowns and defects should not be one of them.
	Our affordable home warranty coverage plans are an essential key to preserve peace of mind and to protect
	your most valuable asset.
</p>
<p>
	Consumers have always strived to get the most value for their money, and we have a proven record of
	excellent customer satisfaction and protection against the costly repair costs of covered major
	components and appliances in their homes.
</p>
<p>
	Upon your quick call to our Toll-Free Service Call Center, a licensed, insured and pre-screened
	contractor will arrive shortly at your doorstep to complete the repairs.
</p>
<p>
	Please call us today for a free quote at <%=$installation.phone%>.
</p>
<a href="/quote" class="longArrow" style="position: relative; left: 610px; top: -40px">Get a Free Quote Now</a>
<%= google_analytics_js %>