<div id="wrapper">
	<div class="content" style="width: 80%;">
	 	<h1 id="overview"><a class="header-anchor" href="#overview"></a>Partner Portal</h1>

	 	<h3>Tracking Link</h3>
	 	<textarea rows="3" cols="300" style="width: 100%;font-size:13px;height:23px;"><iframe src="affiliate.trk4.com/rd/ipx.php?affid=&sid=&leadid="></iframe></textarea>
	 	
	 	<br><br>
	 	<div id="documentation">
			<div id="md" class="docs span12">
				<table class="table">
					<thead>
						<tr>
  						<th align="left">Parameter</th>
  						<th align="left">Type</th>
  						<th align="left">Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
  						<td class="notranslate" align="left">affid<span class="compred">*</span></td>
  						<td align="left">Integer </td>
  						<td align="left">Affiliates Id (Partner ID) </td>
						</tr>
						<tr>
  						<td class="notranslate" align="left">sid<span class="compred">*</span></td>
  						<td align="left">String </td>
  						<td align="left">SubID</td>
						</tr>
						<tr>
  						<td class="notranslate" align="left">LeadId<span class="compred">*</span></td>
  						<td align="left">String</td>
  						<td align="left">Contractor Number. Contractor Number Generate Automatically when Customer create. the number look like #SHW12345</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<h3>Example </h3>
		<textarea rows="3" cols="300" style="width: 100%;font-size:13px;height:30px;"><iframe src="affiliate.trk4.com/rd/ipx.php?affid=1&sid=xxx123x2&leadid=#SHW12345"></iframe></textarea>

	</div>
</div>