<div class="content-inner">
  <h1 class="pump-up">
    The source file for this fax is either corrupt or unavailable, please ask the customer to resubmit it.<br>
     <small><strong><%= link_to "Home", "/admin/faxes", :class => "btn btn-primary" %></strong></small>
  </h1>
</div>
<div class="artist-gallery">
  <div class="artist-shadow"></div>
</div>
