<div class="fixed-width">
  <div class="main-area">
    <%= h Content.for(:homeownercenter) %>
    <p>
      <a href="<%= quote_path %>" class="button"><img src="<%= image_path 'buttons/get-free-quote.gif' %>" alt="Get Free Quote" /></a>
    </p>

  </div>
  <div class="sidebar">
    <div class="home-repair-steps">
      <p class="step-1">Call to place your claim, 24 hours a day 7 days a week.</p>
      <p class="step-2">We will contact a local licensed service technician to diagnose your problem Technician will contact you to set up an appointment.</p>
      <p class="step-3">Pay a modest service call fee and covered repair or replacement of your homes system and appliances will be complete</p>
    </div>

  </div>
</div>
<%= google_analytics_js %>
