<h1>Thank You</h1>
<% if params['pname'] == 'submitclaim' %>
	<h3>Thank you. We have received your service request and will contact you shortly.</h3>
<% else %>
	<h3>We have received your request to join our team and we will contact you very soon.</h3>
	<p>Please use the navigation links at the top or bottom of the page; do not use your browser&rsquo;s back button to go back.</p>
<% end %>
<%= google_analytics_js %>