<p>Thank you for your purchase from {installation name} contract {customer contract_number}.<br /> Failure to contact us in a timely manner will cause a lapse in coverage.</p>
<p>Please take a minute to contact our billing department in reference to your account.</p>

<p class="left_30">
	Thank you,<br />
	Billing Department
</p>