<p>Dear {customer name}</p>
<p>Your request for service has been assigned to {contractor company}, an authorized {installation name} service technician. You may now contact {contractor company} at {contractor phone}  to schedule a mutually convenient service appointment.</p>
<p>If you do not have an appointment scheduled with your authorized {installation short_name} contractor within 48 hours, please call us at {installation phone} option 2 so that we may assist you in getting an appointment scheduled.</p>
<p>
	Please remember that upon the technician's arrival you will be required to pay the {the service_charge} service call fee.
	Should you have any questions feel free to call our claims department at {installation phone}.
</p>
<p class="left_30">
	Thank you,<br/>
	Claims Department
</p>