<table cellpadding="8">
	<tr>
		<td class="label">Full Name:</td>
		<td colspan="3">{the name}</td>
	</tr>
	<tr>
		<td class="label">Company Name:</td>
		<td colspan="3">{the company_name}</td>
	</tr>
	<tr>
		<td class="label">Email:</td>
		<td colspan="3">{the email}</td>
	</tr>
	<tr>
		<td class="label">Phone No.:</td>
		<td colspan="3">{the phone}</td>
	</tr>
	<tr>
		<td class="label">Address:</td>
		<td colspan="3">{the address}</td>
	</tr>
	<tr>
		<td class="label">City:</td>
		<td colspan="3">{the city}</td>
	</tr>
	<tr>
		<td class="label">State:</td>
		<td>{the state}</td>
		<td class="label">Zip:</td>
		<td>{the zip}</td>
	</tr>
	<tr>
		<td class="label" style="vertical-align: top;">Comments:</td>
		<td colspan="3">{the comments}</td>
	</tr>
</table>