<p>Dear Loyal Customer, we regret to inform you that {installation name} no longer offers coverage in your area and your plan will expire 30 days after your last monthly payment was taken. We apologize for any inconvenience that this may cause you.<br></p>
<p>If you have any questions please call us Monday though Friday 10AM - 5PM EST at {installation phone} prompt 4 for our billing department.<br></p>
<p class="left_30">
	Thank you,<br />
	Billing Department
</p>