<table cellspacing="8">
<tr>
	<td colspan="2">{image logo}</td>
</tr>
<tr>
	<td class="label">Contract:</td>
	<td>{customer contract_number}</td>
</tr>
<tr>
	<td class="label">Customer Name:</td>
	<td>{customer name}</td>
</tr>
<tr>
	<td class="label">Coverage Address:</td>
	<td>{customer full_address}</td>
</tr>
<tr>
	<td class="label">Coverage:</td>
	<td>
		{customer package_name} for ${customer pay_amount} annually<br>
	<span class="gray">{customer package_covers}</span>
	</td>
</tr>
<tr>
	<td class="label">&nbsp;</td>
	<td>{customer coverage_option_names}</td>
</tr>
</table>