{image logo}

<p>Your business is important to us, please contact our renewal department today to take advantage of special Renewal Rates.<br />{customer contract_number}</p>

<p class="left_30">
	Thank you, <br />
	Renewal Department
</p>