<p>Contract {customer contract_number},</p>
<p>Your claim has been placed in our system. Please send back your signed contract as soon as possible so that we may dispatch a contractor in a timely manner. Failure to do so will cause a delay in your service time.</p>
<p>Thank you for contacting {installation name}'s claims department. </p>
<p class="left_30">
	Thank you,<br/>
	Claims Department
</p>