<p>Congratulations! You are now part of a select group of homeowners who made the intelligent choice of purchasing a home service contract from {installation name}.<p>

<p>This contract will protect your home systems and appliances from sudden break-down and at the same time protect your budget. We will provide you with quality coverage, timely and courteous customer service. This investment will pay for itself.</p>

<p>Please look over your contract agreement and make sure all of the information is correct by browsing to <a href="{customer contract_url}">{customer contract_url}</a>.</p>

<p>You may log in to our customer administrative interface by navigating to <a href="http://{installation www_domain}/admin/login">http://{installation www_domain}/admin/login</a> or by clicking the "Customer Login" link on <a href="http://{installation www_domain}">http://{installation www_domain}</a></p>
<p>Your username is your email address: {customer email}</p>
<p>Your password is: <strong>{the password}</strong></p>

<p>Should you need to make a service call, please call us 24 hours a day at <strong>{installation phone}</strong>.</p>