<div id="layout_content">
	<iframe src="https://rpm.newrelic.com/public/charts/76GbwoRXZJx" width="500" height="300" scrolling="no" frameborder="no"></iframe>
	<hr>
	<iframe src="https://rpm.newrelic.com/public/charts/cWv1NcFMQd8" width="500" height="300" scrolling="no" frameborder="no"></iframe>
	<br>
	<hr>
	<h3> Apdex: Measuring user satisfaction </h3>
	<p>
	Apdex (Application Performance Index) is an open standard developed by an alliance of companies that defines a standardized method to report, benchmark, and track application performance. It's a simplified Service Level Agreement (SLA) solution that gives application owners better insight into how satisfied users are, in contrast to traditional metrics like average response time, which can be skewed by a few very long responses.
	</p>
</div>