<div style="width: 700px; margin: 0 auto 0 auto;">
	<h1 style="text-align: center;">Thank you!</h1>
	<h2 style="text-align: center;">A home warranty specialist will be in touch with you very soon.</h2>
	<p style="text-align: center;">
	    With a contract from Select Home Warranty  you can shield your wallet from necessary
	    home repair expenses that always seem to come at the most inopportune times. For a small
	    service fee, you can have a pre-screened, licensed local service technician repair or
	    replace your covered broken system or appliance on your schedule.
	</p>
</div>
<%= google_analytics_js %>