<h1>Home Warranty vs. Homeowners Insurance</h1>
<table border="0"><tr>
	<td id="resourceCenter_td" valign="top" class="sidebar leftSidebar">
		<h2>Resource Center</h2>
		<ul>
			<li><a href="/faq">Frequently Asked Questions</a></li>
			<li><a href="/testimonials">Testimonials</a></li>
			<li class="selected"><a href="/versus">Home Warranty vs.<br/>Homeowners Insurance</a></li>
			<li><a href="/termsconditions">Home Warranty Sample Contract</a></li>
			<li><a href="/buyingandselling">Buying &amp; Selling Your Home</a></li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/contact">Contact Us</a></li>
			<li><a href="/quote">Enroll or Get a Free Quote Now</a></li>
			<li><a href="/">Home Page</a></li>
		</ul>
	</td>
	<td style="vertical-align: top;" valign="top">
		<p>
			A home warranty is a service contract that covers the repair or replacement of many of the most
			frequently occurring breakdowns of home system components and appliances. A Home Warranty Coverage Plan
			helps to offset the expense of repairing or replacing your existing home appliances and mechanical
			systems, which can malfunction due to normal wear and tear. 
		</p><p>
			A homeowner&rsquo;s insurance can include hazard insurance, which covers items damaged in fires, flooding,
			wind, and other natural disasters. A homeowner or hazard insurance is a type of property insurance that
			covers private homes. It is an insurance policy that combines various personal insurance protections,
			which can include losses occurring to one's home, its contents, lost of its use, or lost of other
			personal possession of the homeowner, as well as liability insurance for accidents that may happen at
			the home.
		</p><p>
			Our exceptional plans are sure to be a small expense as opposed to the expensive repairs and replacement
			fees that can cost you dearly if a major system or appliance becomes defective. Please <a href="/plans">
			read more about our home warranty coverage plans</a> from Select Home Warranty.
		</p>
		<br/><br/>
		<table border="0" id="insurance_table" cellspacing="0" cellpadding="8">
			<thead><tr>
				<td>Problem Reported</td>
				<td>Home Insurance Policy</td>
				<td>Home Warranty<br/>Coverage Plan</td>
			</tr></thead>
			<tbody>
				<tr>
					<td>Burglary Losses and Damages</td>
					<td class="col2">Protected</td>
					<td class="col3"></td>
				</tr><tr class="stripe">
					<td>Flooding Damages</td>
					<td class="col2">Protected</td>
					<td class="col3"></td>
				</tr><tr>
					<td>Fire Damages</td>
					<td class="col2">Protected</td>
					<td class="col3"></td>
				</tr><tr class="stripe">
					<td>Coverage of Foundation and Structure</td>
					<td class="col2">Protected</td>
					<td class="col3"></td>
				</tr><tr>
					<td>Hurricanes (Weather Damages)</td>
					<td class="col2">Protected</td>
					<td class="col3"></td>
				</tr><tr class="stripe">
					<td>Injury on your property</td>
					<td class="col2">Protected</td>
					<td class="col3"></td>
				</tr><tr>
					<td>Air-Conditioning Malfunction</td>
					<td class="col2"></td>
					<td class="col3">Covered by<br/>Select Home Warranty</td>
				</tr><tr class="stripe">
					<td>Oven does not heat up</td>
					<td class="col2"></td>
					<td class="col3">Covered by<br/>Select Home Warranty</td>
				</tr><tr>
					<td>I have no hot water</td>
					<td class="col2"></td>
					<td class="col3">Covered by<br/> Select Home Warranty</td>
				</tr><tr class="stripe">
					<td>Leaky Faucet</td>
					<td class="col2"></td>
					<td class="col3">Covered by<br/> Select Home Warranty</td>
				</tr><tr>
					<td>My electricity outlets keep shorting</td>
					<td class="col2"></td>
					<td class="col3">Covered by<br/> Select Home Warranty</td>
				</tr><tr class="stripe">
					<td>My washing machine is not working</td>
					<td class="col2"></td>
					<td class="col3">Covered by<br/> Select Home Warranty</td>
				</tr><tr>
					<td>My Garage Door is not opening</td>
					<td class="col2"></td>
					<td class="col3">Covered by<br/> Select Home Warranty</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr></table>
<%= google_analytics_js %>