<div class="headerbtn2"><a class="" href="/admin/customer_statuses">Customer</a></div>
<div class="headerbtn2"><a class="" href="/admin/claim_statuses">Claim</a></div>
<div class="headerbtn2"><a class="" href="/admin/lead_statuses">Lead</a></div>
<div class="headerbtn2"><a class="" href="/admin/result_statuses">Result</a></div>
<div class="headerbtn2"><a class="" href="/admin/tag_statuses">Tags</a></div>
<div class="headerbtn2"><a class="" href="/admin/contract_statuses">Contract</a></div>
<div class="headerbtn2"><a class="" href="/admin/renewal_statuses">Renewal</a></div>
<div class="headerbtn2"><a class="" href="/admin/contractor_statuses">Contractor</a></div>
<div class="headerbtn"><a class="" href="/admin/cancellation_reasons">Cancellation Reasons</a></div>			
